


/*************************************************************/
/* Blog section */
.card-body{
    position: relative;
}
.card-relat{
    position: absolute;
    top: -15px;
    left: 40%;   
}
/*************************************************************/




/* services section  */
.bg-serv{
    background-color: #fafafa;
}

.cotent h5{
    transition: 0.5s;

}

.cotent:hover h5{
    color: #f25454;
    transition: 0.5s;
}